%h1 Code for America Brigade : Building the new civic Infrastructure
%br
%h2
  ABOUT THE BRIGADE

%p The Code for America Brigade is an organizing force for a growing community of civic minded developers, designers, data scientists, and community leaders who will contribute their talents towards addressing the problems we see everday. The technology that we’ll develop together and deploy locally will form a new Civic Web.

%h2 Web Platform

%ul
  %li
  An online portal to connect individuals with local projects and collaborators and to stand up and maintain civic applications.
  %li
  Project pages for civic apps with comprehensive technical documentation and strategies for implementation.

%br
%h2 Community Engagement

%ul
  %li
    Brigade teams use events and local area networks to increase adoption and sustainability of open source civic technology.
  %li
    Code for America develops corporate, government, and non-profit partnerships that create a pipeline of resources and professional development opportunities for each node in the Brigade network.

%br
%h3
  GOALS FOR YEAR-END
  %ul
    %li
      20 Apps
    %li
      50 Cities
    %li
      100 Volunteers/Members
    %li
      500 Users

%br
%h3
  STARTUP TIMELINE

%ul
  %li
    JANUARY: Find Civic Apps
  %li
    FEBUARY: Opensource Apps
  %li
    FEBUARY: Alpha Events
  %li
  MARCH: Portal Launch

%h2
  DEPLOY AN APP. HELP BUILD THE CIVIC WEB.

