%h1 Applications
%br
%table.table.table-bordered
  %tr
    %th Name
    %th Description
    %th

  - @apps.each do |app|
    %tr
      %td= app.name
      %td= app.tag_line
      %td= link_to 'Show', app

%br

- if current_user
  = link_to 'New App', new_app_path
